---
import { SITE_TITLE } from "~/consts"
interface Props {
  title: string
  description?: string
  image?: string
  publishedDate?: string
  twitterImage?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
  title = "幻想サイクル",
  description = "AJOCC ME1レーサーによるロード・MTB・CXの機材運用やレビュー、時々レースレポートを書くブログです",
  image = "/image/logo.jpg",
  publishedDate,
  twitterImage
} = Astro.props
const isPostPage = Astro.url.pathname.includes("/post/")
const ogType = isPostPage ? "article" : "website"
const metaImageUrl = new URL(image, Astro.url)
const twitterImageUrl = new URL(twitterImage ?? image, Astro.url)

const jsonLdType = isPostPage ? "Article" : "Blog"
const jsonLd = {
  "@context": "http://schema.org",
  "@type": jsonLdType,
  mainEntityOfPage: { "@type": "WebPage", "@id": canonicalURL },
  headline: title,
  image: { "@type": "ImageObject", url: metaImageUrl },
  author: { "@type": "Person", name: "Gen", url: "https://www.gensobunya.net" },
  publisher: {
    "@type": "Organization",
    name: SITE_TITLE,
    logo: {
      "@type": "ImageObject",
      url: "https://blog.gensobunya.net/logo.jpg"
    }
  },
  url: Astro.url,
  description: description,
  datePublished: publishedDate
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={ogType} />
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={metaImageUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@gen_sobunya" />
<meta property="twitter:creater" content="@gen_sobunya" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={twitterImageUrl ?? metaImageUrl} />

<!-- JSON-LD -->
<script
  type="application/ld+json"
  set:html={JSON.stringify(jsonLd)}
  is:inline
/>
