---
import { Picture } from "astro:assets"
import type { CollectionEntry } from "astro:content"
import dummy from "@images/dummy.jpg"
import { slugFromId } from "@lib/postSlug"
import FormattedDate from "./FormattedDate.astro"

type Props = CollectionEntry<"post">
const post = Astro.props
---

<article
  class="group flex cursor-pointer flex-col overflow-hidden rounded-lg bg-white shadow-sm transition-shadow hover:shadow-md"
>
  <a href={`/post/${slugFromId(post.id)}/`}>
    <div class="relative">
      <div
        class="absolute left-0 top-0 bg-accent px-2 py-1 text-xs font-semibold text-white"
      >
        {post.data.tags[0]}
      </div>
      <div class="aspect-video overflow-hidden bg-gray-200">
        <Picture
          src={post.data.cover ?? dummy}
          alt={post.data.title}
          class="size-full object-cover"
          formats={["webp"]}
          widths={[330]}
          quality={50}
          fallbackFormat="jpeg"
        />
      </div>
    </div>
    <div class="flex grow flex-col p-4">
      <h3
        class="mb-2 font-bold leading-snug transition-colors group-hover:text-accent"
      >
        {post.data.title}
      </h3>
      <div class="mt-auto flex justify-end text-xs text-gray-500">
        <time>
          <FormattedDate date={post.data.date} />
        </time>
      </div>
    </div>
  </a>
</article>
