---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import BlogTitle from "@components/BlogTitle.astro"
import { formatInTimeZone } from "date-fns-tz"
import RelatedPosts from "@components/RelatedPosts.astro"
import { SITE_TITLE } from "~/consts"
import { getImage } from "astro:assets"
import Share from "@components/Share.astro"

type Props = CollectionEntry<"post"> & { description: string }

const { title, date, cover, tags } = Astro.props.data
const { slug, description } = Astro.props
// cloudflare上ではタイムゾーンが日本時間になる保証がないため、明示的に指定する
const publishedDate = formatInTimeZone(date, "Asia/Tokyo", "yyyy-MM-dd")
const twitterOgpImageUrl = `${Astro.url}twitter-og.png`

// ogp画像はURLが変更されないようにオリジナルを取得する
const ogpStaticImage = cover
  ? await getImage({ src: cover, format: "jpg" })
  : undefined
---

<Layout
  title={`${title} | ${SITE_TITLE}`}
  datePublished={publishedDate}
  image={ogpStaticImage?.src}
  description={description.trim()}
  twitterImage={twitterOgpImageUrl}
>
  <article data-pagefind-body>
    <BlogTitle title={title} cover={cover} date={date} tags={tags} />
    <div class="mt-4 w-full">
      <div
        class="prose prose-sm mx-auto max-w-4xl text-base-content md:prose-base [&_.twitter-tweet]:mx-auto [&_iframe]:mx-auto [&_iframe]:max-w-full"
      >
        <slot />
      </div>
    </div>
  </article>
  <div class="divider"></div>
  <Share url={Astro.url.href} title={title} />
  <div class="divider"></div>
  <RelatedPosts searchTag={tags[0]} selfSlug={slug} />
</Layout>
