---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import { formatInTimeZone } from "date-fns-tz"
import RelatedPosts from "@components/RelatedPosts.astro"
import { SITE_TITLE } from "~/consts"
import { getImage } from "astro:assets"
import Share from "@components/Share.astro"

type Props = CollectionEntry<"post"> & { description: string }

const { title, date, cover, tags } = Astro.props.data
const { slug, description } = Astro.props
const publishedDate = formatInTimeZone(date, "Asia/Tokyo", "yyyy-MM-dd")
const twitterOgpImageUrl = `${Astro.url}twitter-og.png`

const ogpStaticImage = cover
  ? await getImage({ src: cover, format: "jpg" })
  : undefined
---

<Layout
  title={`${title} | ${SITE_TITLE}`}
  datePublished={publishedDate}
  image={ogpStaticImage?.src}
  description={description.trim()}
  twitterImage={twitterOgpImageUrl}
>
  <article data-pagefind-body class="mx-auto">
    <header class="mb-8">
      <div class="mb-4 text-sm text-gray-500">
        <time datetime={date.toISOString()}>{publishedDate}</time>
        {tags.map((tag) => <span class="ml-2 text-accent">#{tag}</span>)}
      </div>
      <h1 class="text-2xl font-bold tracking-tight">{title}</h1>
    </header>

    {
      cover && (
        <img src={ogpStaticImage?.src} alt="" class="mb-8 w-full rounded-lg" />
      )
    }

    <div class="prose prose-xs prose-gray max-w-none">
      <slot />
    </div>
  </article>

  <div class="my-12 border-t border-gray-200 pt-8">
    <Share url={Astro.url.href} title={title} />
  </div>

  <div class="my-12">
    <h2 class="mb-6 text-xl font-semibold">関連記事</h2>
    <RelatedPosts searchTag={tags[0]} selfSlug={slug} />
  </div>
</Layout>
