---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import { formatInTimeZone } from "date-fns-tz"
import RelatedPosts from "@components/RelatedPosts.astro"
import { SITE_TITLE } from "~/consts"
import { getImage } from "astro:assets"
import Share from "@components/Share.astro"

type Props = CollectionEntry<"post"> & { description: string }

const { title, date, cover, tags } = Astro.props.data
const { slug, description } = Astro.props
const publishedDate = formatInTimeZone(date, "Asia/Tokyo", "yyyy-MM-dd")
const twitterOgpImageUrl = `${Astro.url}twitter-og.png`

const ogpStaticImage = cover
  ? await getImage({ src: cover, format: "jpg" })
  : undefined
---

<Layout
  title={`${title} | ${SITE_TITLE}`}
  datePublished={publishedDate}
  image={ogpStaticImage?.src}
  description={description.trim()}
  twitterImage={twitterOgpImageUrl}
>
  <article data-pagefind-body class="mx-auto">
    <header class="mb-8">
      <div class="mb-4 text-sm text-gray-500">
        <time datetime={date.toISOString()}>{publishedDate}</time>
        {tags.map((tag) => <span class="ml-2 text-accent">#{tag}</span>)}
      </div>
      <h1 class="text-2xl font-bold tracking-tight">{title}</h1>
    </header>

    {
      cover && (
        <img src={ogpStaticImage?.src} alt="" class="mb-8 w-full rounded-lg" />
      )
    }

    <div
      class={`prose prose-gray prose-xs min-w-0 max-w-none
        [&_.twitter-tweet]:mx-auto [&_iframe]:mx-auto [&_iframe]:max-w-full
        
        ${/* Heading styles */ ""}
        [&_h3]:not-prose [&_h2]:p-2 [&_h2]:text-xl [&_h2]:font-bold
        
        [&_h2]:text-gray-800 [&_h3]:mx-1 [&_h3]:p-2 [&_h3]:text-base 
        [&_h3]:font-bold [&_h3]:text-gray-800
        
        [&_h4]:p-2 [&_h4]:text-base [&_h4]:font-bold [&_h4]:text-gray-800
        
        ${/* Blockquote styles */ ""}
        [&_blockquote]:mx-4 [&_blockquote]:bg-gray-200
        
        ${/* Link styles */ ""}
        [&_a:hover]:underline [&_a]:text-blue-600
        
        ${/* Strong text styles */ ""}
        [&_strong]:font-bold
        
        ${/* サイズを維持するための設定 */ ""}
        [&_p]:!text-[0.85rem]`}
    >
      <slot />
    </div>
  </article>

  <div class="my-12 border-t border-gray-200 pt-8">
    <Share url={Astro.url.href} title={title} />
  </div>

  <div class="my-12">
    <h2 class="mb-6 text-xl font-semibold">関連記事</h2>
    <RelatedPosts searchTag={tags[0]} selfSlug={slug} />
  </div>
</Layout>

<style>
  /* Add a wrapper for tables to ensure proper overflow behavior */
  :global(.prose table) {
    @apply overflow-x-auto bg-white;
    display: block;
    width: auto !important;
  }

  /* レスポンシブサイズ調整の補助設定 */
  @media (max-width: 640px) {
    :global(.prose) {
      font-size: 0.85rem !important;
    }
    :global(.prose p) {
      font-size: 0.85rem !important;
    }
  }
</style>
