---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import BlogTitle from "@components/BlogTitle.astro"
import { utcToZonedTime } from "date-fns-tz"
import { sub, formatISO } from "date-fns"
import RelatedPosts from "@components/RelatedPosts.astro"

type Props = CollectionEntry<"post">["data"] & { description: string }

const { title, date, cover, tags, description } = Astro.props
const publishedDate = formatISO(
  sub(utcToZonedTime(date, "Asia/Tokyo"), { hours: 9 })
)
---

<Layout
  title={title}
  datePublished={publishedDate}
  image={cover?.src}
  description={description}
>
  <article>
    <BlogTitle title={title} cover={cover} date={date} tags={tags} />
    <div class="w-full mt-4">
      <div class="prose prose-sm md:prose-base max-w-3xl mx-auto">
        <slot />
      </div>
    </div>
  </article>
  <div class="divider"></div>
  <RelatedPosts searchTag={tags[0]} />
</Layout>
