---
import type { CollectionEntry } from "astro:content"
import Layout from "./Layout.astro"
import BlogTitle from "@components/BlogTitle.astro"
import { utcToZonedTime } from "date-fns-tz"
import { sub, formatISO } from "date-fns"
import RelatedPosts from "@components/RelatedPosts.astro"
import { SITE_TITLE } from "~/consts"
import { getImage } from "astro:assets"
import Share from "@components/Share.astro"

type Props = CollectionEntry<"post"> & { description: string }

const { title, date, cover, tags } = Astro.props.data
const { slug, description } = Astro.props
const publishedDate = formatISO(
  sub(utcToZonedTime(date, "Asia/Tokyo"), { hours: 9 })
)
const twitterOgpImageUrl = `${Astro.url}twitter-og.png`

// ogp画像はURLが変更されないようにオリジナルを取得する
const ogpStaticImage = cover
  ? await getImage({ src: cover, format: "jpg" })
  : undefined
---

<Layout
  title={`${title} | ${SITE_TITLE}`}
  datePublished={publishedDate}
  image={typeof ogpStaticImage?.rawOptions.src === "string"
    ? ogpStaticImage?.rawOptions.src
    : ogpStaticImage?.rawOptions.src.src}
  description={description.trim()}
  twitterImage={twitterOgpImageUrl}
>
  <article>
    <BlogTitle title={title} cover={cover} date={date} tags={tags} />
    <div class="mt-4 w-full">
      <div
        class="prose prose-sm mx-auto max-w-4xl text-base-content md:prose-base [&_iframe]:max-w-full"
      >
        <slot />
      </div>
    </div>
  </article>
  <div class="divider"></div>
  <Share title={title} url={Astro.url.href} />
  <div class="divider"></div>
  <RelatedPosts searchTag={tags[0]} selfSlug={slug} />
</Layout>
